.master {
    padding-top: 80px;
    padding-bottom: 127px;
    position: relative;

    &__lines {
        width: 100%;
        height: 767px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 1;
    }

    &__content {
        padding-top: 95px;
        position: relative;
        z-index: 3;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        h2 {
            font-size: 55px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -1.65px;
            color: var(--primary-color);
            max-width: 990px;

            span {
                color: var(--accent-color);
            }
        }
    }

    &__head-serts {
        flex-shrink: 0;
        display: flex;
        gap: 10px;
        margin-top: 8px;
    }

    &__top {
        margin-top: 19px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -0.2px;
            color: var(--primary-color);
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: -9px;
    }

    &__slider {
        margin-top: 38px;

        .swiper-slide {
            max-width: 343px;
        }

        .swiper-scrollbar {
            max-width: 913px;
            left: 50% !important;
            transform: translateX(-50%);
            background-color: var(--secondary2);
            position: relative !important;
            margin-top: 62px !important;

            .swiper-scrollbar-drag {
                background-color: var(--accent-color);
            }
        }
    }

    &__img {
        border-radius: 10px;
        overflow: hidden;
    }

    &__info {
        margin-top: 12px;
    }

    &__name {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -0.4px;
        color: var(--primary-color);
    }

    &__prof {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.15px;
        color: var(--text-color2);
        margin-top: 8px;
    }

    &__experience {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.12px;
        color: var(--text-color2);
        padding: 4px 10.5px;
        border: 1px solid var(--text-color2);
        border-radius: 5px;
        display: inline-block;
        margin-top: 11px;
    }
}

.master-button-prev,
.master-button-next {
    width: 50px;
    height: 35px;
    border-radius: 80px;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--page-color);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: var(--accent-color);
        border-color: var(--accent-color);

        svg {
            fill: var(--primary-color);
        }
    }

    svg {
        fill: var(--primary-color);
        transition: all 0.2s;
    }
}

@media (max-width: 1200px) {
    .master__head h2 {
        font-size: 45px;
    }
}

@media (max-width: 992px) {
    .master__head h2 {
        font-size: 35px;
    }
}

@media (max-width: 767.98px) {
    .master__head {
        flex-direction: column;
    }

    .master__btns {
        display: none;
    }
}

@media (max-width: 550px) {
    .master {
        padding-top: 14px;
    }

    .master__content {
        padding-top: 40px;
    }

    .master__head {
        gap: 15px;

        h2 {
            font-size: 30px;
            line-height: 100%;
            letter-spacing: -0.9px;
        }
    }

    .master__head-serts {
        margin-top: 0;

        img {
            width: 100%;
        }

        img:nth-child(1) {
            width: 99px;
            height: 133px;
        }

        img:nth-child(2) {
            width: 97px;
            height: 133px;
        }

        img:nth-child(3) {
            width: 99px;
            height: 133px;
        }
    }

    .master__top {
        margin-top: 20px;

        p {
            font-size: 16px;
            letter-spacing: -0.16px;
        }
    }

    .master__slider {
        margin-top: 19px;
        overflow-x: visible !important;

        .swiper-slide {
            max-width: 280px;
        }
    }

    .master__img img {
        width: 100%;
        height: auto;
    }

    .master__slider .swiper-scrollbar {
        margin-top: 36px !important;
    }
}

.home {
    padding-top: 121px;
    position: relative;
    z-index: 3;

    h2 {
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -0.9px;
        color: var(--primary-color);
        max-width: 720px;

        span {
            color: var(--accent-color);
        }
    }

    &__inner {
        margin-top: 13px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
    }

    &__item-1 {
        max-width: 220px;
        margin-bottom: 22px;

        svg {
            margin-left: 17px;
            fill: var(--secondary7);
        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -0.2px;
            color: var(--primary-color);
            margin-top: 13px;
        }
    }

    &__item-2 {
        max-width: 440px;
        margin-bottom: 24px;
        margin-left: 20px;

        h4 {
            font-size: 60px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -1.2px;
            color: var(--accent-color);
        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -0.2px;
            color: var(--primary-color);
            margin-top: 13px;
        }
    }

    &__item-3 {
        max-width: 555px;

        svg {
            margin-left: 18px;
            fill: var(--accent-color);
        }

        h4 {
            max-width: 420px;
            font-size: 27px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: -0.27px;
            color: var(--primary-color);
            margin-top: 9px;
        }

        p {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: -0.18px;
            color: var(--text-color2);
            margin-top: 21px;
        }
    }
}

@media (max-width: 1200px) {
    .home__item-3 {
        max-width: 420px;
    }
}

@media (max-width: 992px) {
    .home__inner {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 27px;
    }

    .home__item-1 {
        max-width: 400px;
        display: flex;
        align-items: center;
        gap: 19px;
        margin-bottom: 0;

        svg {
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            margin-left: 0;
        }

        p {
            margin-top: 0;
        }
    }

    .home__item-2 {
        margin-left: 0;
        margin-bottom: 0;
        max-width: 100%;
    }

    .home__item-3 {
        max-width: 100%;

        div {
            display: flex;
            align-items: center;
            gap: 28px;

            svg {
                flex-shrink: 0;
            }
        }
    }
}

@media (max-width: 550px) {

    .master {
        padding-bottom: 40px;
    }

    .master__lines {
        background-position: 78%;
    }

    .home {
        padding-top: 38px;

        h2 {
            font-size: 30px;
            letter-spacing: -0.9px;
            line-height: 100%;
        }
    }

    .home__inner {
        margin-top: 28px;
        gap: 0;
    }

    .home__item-1 {
        gap: 21px;

        p {
            font-size: 16px;
            letter-spacing: -0.16px;
        }
    }

    .home__item-2 {
        margin-top: 20px;

        h4 {
            font-size: 40px;
            letter-spacing: -0.8px;
        }

        p {
            font-size: 16px;
            letter-spacing: -0.16px;
            margin-top: 3px;
        }
    }

    .home__item-3 {
        margin-top: 21px;

        div {
            margin-left: 10px;

            svg {
                width: 34px;
                height: 41px;
                margin-left: 0;
            }

            h4 {
                font-size: 18px;
                letter-spacing: -0.18px;
                margin-top: 0;
            }
        }

        p {
            font-size: 15px;
            letter-spacing: -0.15px;
            margin-top: 15px;
        }
    }
}