.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.overlay.is-open {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}

.repair {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: var(--secondary-color);
    padding-top: 40px;
    padding-bottom: 60px;
    will-change: transform;
    box-shadow: 0 10px 6px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    ul li a {
        padding-top: 0;
        padding-bottom: 0;
    }

    .service__cta {
        margin-top: 60px;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__list-item {
        display: grid;
        grid-template-columns: 37px 1fr;
        gap: 22px;
        align-items: center;

        div {
            display: flex;
            align-items: center;
        }

        &:hover span {
            color: var(--accent-color);
        }

        span {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 330%;
            letter-spacing: -0.4px;
            color: var(--primary-color);
            transition: color 0.2s;
        }
    }

    &__menu.active {
        opacity: 1;
        visibility: visible;
    }
}


.service__menu {
    position: fixed;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    transition: all 0.3s;
    padding-top: 40px;
    padding-bottom: 60px;
    opacity: 0;
    visibility: visible;
    box-shadow: 0 10px 6px 5px rgba(0, 0, 0, 0.3);

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 40px;
        border-top: 1px solid var(--secondary2);

        &--item {
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover span {
                color: var(--accent-color);
            }

            span {
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%;
                letter-spacing: -0.4px;
                color: var(--primary-color);
                transition: color 0.2s;
            }
        }
    }
}

.service__menu.active {
    opacity: 1;
    visibility: visible;
}