.steps {
    padding-top: 100px;
    padding-bottom: 120px;

    &__container {
        max-width: 1444px;
    }

    &__head {
        max-width: 921px;

        h2 {
            font-size: 55px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -1.65px;
            color: var(--black);

            span {
                color: var(--red);
            }
        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -0.2px;
            color: var(--black);
            margin-top: 32px;
        }
    }

    &__inner {
        margin-top: 24px;
        display: grid;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 2px;
            background-color: var(--light-grey2);
            position: absolute;
            left: 0;
            top: 20px;
            z-index: 0;
            will-change: transform;
        }

        .steps__container {
            display: flex;
            position: relative;
            z-index: 1;
        }
    }

    &__item {
        flex-shrink: 0;

        &:nth-child(1) {
            margin-right: 46px;

            h3 {
                max-width: 312px;
            }
        }

        &:nth-child(2) {
            margin-right: 74px;

            h3 {
                max-width: 285px;
            }
        }

        &:nth-child(3) {
            margin-right: 85px;

            p {
                max-width: 285px;
            }
        }

        &:nth-child(4) {

            .steps__item-num {
                background-color: var(--red);
                color: var(--white);
            }

            p {
                max-width: 210px;
            }
        }

    }

    &__item-num {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.2px;
        color: var(--red);
        background-color: var(--white);
        border: 2px solid var(--red);
        border-radius: 50%;
    }

    &__item-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.4px;
        color: var(--black);
        margin-top: 15px;
    }

    &__item-text {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.15px;
        margin-top: 10px;
        color: var(--grey);
    }
}

@media (max-width: 1330px) {
    .steps__inner .steps__container {
        overflow-x: scroll;
    }

    .steps__inner .steps__container::-webkit-scrollbar {
        height: 3px;
    }

    .steps__inner .steps__container::-webkit-scrollbar-track {
        background: var(--light-grey2);
        border-radius: 3px;
    }

    .steps__inner .steps__container::-webkit-scrollbar-thumb {
        background: var(--red);
        border-radius: 3px;
    }
}

@media (max-width: 992px) {
    .steps {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .steps__head {

        h2 {
            font-size: 45px;
        }
    }

    .steps__inner .steps__container {
        padding-left: 0;
        padding-right: 0;
    }

    .steps__inner {
        padding-left: 26px;
        padding-right: 26px;
    }
}

@media (max-width: 767.98px) {
    .steps__head {

        h2 {
            font-size: 35px;
        }
    }
}

@media (max-width: 550px) {
    .steps {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .steps__head {

        h2 {
            font-size: 30px;
            line-height: 100%;
            letter-spacing: -0.9px;
        }

        p {
            font-size: 16px;
            letter-spacing: -0.16px;
            margin-top: 16px;
        }
    }

    .steps__inner {
        margin-top: 18px;
    }

    .steps__inner .steps__container {
        padding-bottom: 26px;
    }

    .steps__item-title {
        font-size: 18px;
    }

    .steps__item {

        p {
            font-size: 13px;
            line-height: 130%;
            letter-spacing: -0.13px;
            margin-top: 11px;
        }
    }

    .steps__item:nth-child(1) {
        margin-right: 0;

        h3 {
            max-width: 227px;
        }

        p {
            max-width: 180px;
        }
    }

    .steps__item:nth-child(2) {
        margin-right: 0;

        h3 {
            max-width: 227px;
        }

        p {
            max-width: 180px;
        }
    }

    .steps__item:nth-child(3) {
        margin-right: 20px;

        h3 {
            max-width: 227px;
        }

        p {
            max-width: 180px;
        }
    }
}