// Scheme-1 colors
:root {
    --black: #000000;
    --white: #ffffff;
    --red: #F00000;
    --light-grey: #9FA5AD;
    --light-grey2: #DDE1E7;
    --hero-gradient: linear-gradient(119deg, #F1F3F8 16.22%, #DFE7F2 82.39%);
}