// Scheme-1 colors
:root {
    --black: #000000;
    --white: #ffffff;
    --red: #F00000;
    --blue: #2C6AC8;
    --grey: #2C2F36;
    --bosh-professional: #ECF1F8;
    --light-grey: #9FA5AD;
    --light-grey2: #DDE1E7;
    --light-grey3: #CDD6E2;
    --hero-gradient: linear-gradient(119deg, #F1F3F8 16.22%, #DFE7F2 82.39%);
    --service-card-bg: #F4F6F8;
}